* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    /*transition: background-color var(--transition-speed), color var(--transition-speed);*/
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
