* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
