/*********** Baseline, reset styles ***********/
/*https://range-input-css.netlify.app/*/
.InputRange {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.InputRange input {
    --tomb-color: var(--layer-3-accent, #007bff);
    --track-color: var(--layer-3-active, #ddd);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%; /* Explicitly set width to 100% */
}

/* Removes default focus */
.InputRange input:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.InputRange input::-webkit-slider-runnable-track {
    background-color: var(--track-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.InputRange input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--tomb-color);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.InputRange input:focus::-webkit-slider-thumb {
    outline: 3px solid var(--tomb-color);
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.InputRange input::-moz-range-track {
    background-color: var(--track-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.InputRange input::-moz-range-thumb {
    background-color: var(--tomb-color);
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.InputRange input:focus::-moz-range-thumb {
    outline: 3px solid var(--tomb-color);
    outline-offset: 0.125rem;
}