.header, .footer {
    flex-shrink: 0;
    padding: 0.5rem;
    display: flex;
    gap:0.5rem;
    flex-shrink: 0;
}

.content {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Запрещаем перенос строк для текста, чтобы он не дергался при сужении */
    white-space: nowrap;
    flex: 1;
    overflow-y: auto;
    max-height: 70vh;
    background-color: var(--layer-1-bg);
    border-radius: 0.5rem;
    border: 1px solid var(--layer-1-border);
}

.content div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.footer {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

}

.footer button, .header button {
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    background-color: var(--layer-1-accent);
    color: var(--layer-1-on-accent);
}

.footer button{
    padding: 0.6rem 1.2rem;
}

.footer button:hover, .header button:hover {
    background-color: color-mix(in srgb, var(--layer-1-accent) 80%, black);
}

.footer button:active, header button:active {
    background-color: color-mix(in srgb, var(--layer-1-accent) 70%, black);
}

