.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--layer-3-bg);
    border: 2px solid var(--layer-3-border);
    color: var(--layer-1-text);
    border-radius: 0.5rem;
    top: 15vh;
    //max-width: 75vw;
    padding: 0.5rem ;
}

.trigger {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: opacity 2s ease, transform 2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.triggerVisible {
    opacity: 1 !important;
    transform: scale(1) !important;
    pointer-events: auto !important;
}

.draggableButton{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--layer-3-active);
    color:var(--layer-1-text);
    border: none;
}

.draggableButton svg{
    /*padding: 0.2rem;*/
    font-size: 1.2rem;
    font-weight: bold;
}
