.header, .footer {
    flex-shrink: 0;
    padding: 0.5rem;
    display: flex;
    gap:0.5rem;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Запрещаем перенос строк для текста, чтобы он не дергался при сужении */
    white-space: nowrap;
    flex: 1;
    overflow-y: auto;
    max-height: 55vh;
    border-radius: 0.5rem;
}
.group{
    padding: 0.5rem;
    background-color: var(--layer-2-bg);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--layer-2-border);
}

.child {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0;
    --tomb-color: var(--layer-1-accent);
    --track-color: var(--layer-1-active);
}


.footer {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

}

.footer button {
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    background-color: var(--layer-1-accent);
    color: var(--layer-1-on-accent);
}
.header button{
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
    background-color: var(--layer-1-accent);
    border-radius: 50%;
    border: none;
    padding: 0.3rem 0.3rem 0;
    color: var(--layer-1-on-accent);
}

.footer button{
    padding: 0.6rem 1.2rem;
}

.footer button:hover, .header button:hover {
    background-color: color-mix(in srgb, var(--layer-1-accent) 80%, black);
}

.footer button:active, header button:active {
    background-color: color-mix(in srgb, var(--layer-1-accent) 70%, black);
}

