.Toggle{
    --_after-size: 1rem;
    --_border-color:var(--layer-3-border);
    --_shadow-color:var(--layer-3-border);
    --_bg-color:var(--layer-3-active);
    --_accent-color:var(--layer-3-accent);
}

.Toggle label{
    position: relative;
    width: 100%;
    height: calc(var(--_after-size) + 2 * 0.2rem);
    display: block;
    background: var(--_bg-color);
    border-radius: var(--_after-size);
    cursor: pointer;
    /*box-shadow: inset 0 5px 15px var(--_shadow-color), inset 0 -5px 15px rgba(255, 255, 255, 0.3);*/
}

.Toggle label::after {
    content: '';
    position: absolute;
    height: var(--_after-size);
    width: var(--_after-size);
    /*background: linear-gradient(180deg, var(--_bg-color), var(--_gradient-color));*/
    background:  var(--_accent-color);
    border-radius: 50%;
    top: 0.2rem;
    left: 0.2rem;
    transition: 0.5s;
    box-shadow: 0 5px 10px var(--_shadow-color);
}

.Toggle input:checked ~  label::after{
    left:100%;
    transform: translateX(-110%);
}
.Toggle input{
    display: none;
}