.window{
    background-color: var(--layer-3-bg);
    border: 2px solid var(--layer-3-border);
    color: var(--layer-1-text);
    border-radius: 0.5rem;
    top:15vh;
    box-shadow: -5px 0 20px rgba(0,0,0,0.05);
    max-height: 75vh;
    max-width: 55vw;
}

.header {
   margin: 0.5rem auto;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Запрещаем перенос строк для текста, чтобы он не дергался при сужении */
    white-space: nowrap;
}

.content div {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    margin: 0.5rem auto;
}

.buttons button, .header button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    background-color: var(--layer-1-accent);
    color: var(--layer-1-on-accent);
}

.buttons button:hover, .header button:hover {
    background-color: color-mix(in srgb, var(--layer-1-accent) 80%, black);
}

.buttons button:active, header button:active {
    background-color: color-mix(in srgb, var(--layer-1-accent) 70%, black);
}

