/*********** Baseline, reset styles ***********/
/*https://range-input-css.netlify.app/*/
.slider{
    color:var(--layer-3-text)
}

.slider input {
    --tomb-color:var(--layer-3-accent);
    --track-color:var(--layer-3-active);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /*width: 5rem;*/
}

/* Removes default focus */
.slider input:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.slider input::-webkit-slider-runnable-track {
    background-color:var(--track-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--tomb-color);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.slider input:focus::-webkit-slider-thumb {
    outline: 3px solid var(--tomb-color);
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.slider input::-moz-range-track {
    background-color: var(--track-color);
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
.slider input::-moz-range-thumb {
    background-color: var(--tomb-color);
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.slider input:focus::-moz-range-thumb{
    outline: 3px solid var(--tomb-color);
    outline-offset: 0.125rem;
}