.drawer {
    position: fixed;
    top: 15vh;
    right: 0;
    max-width: 50vw;
    max-height: 70vh;
    background: inherit;
    border:2px solid var(--layer-3-border);
    /*box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);*/
    z-index: 100;
 /*Нижче за плаваючу кнопку, якщо треба display: flex;*/
    flex-direction: column;
    animation: slideIn 1s ease-out;

}

.header {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    cursor: pointer;
}

.content {
    /*flex: 1;*/
    overflow-y: auto;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}