.drawer {
    position: fixed;
    top: 15vh;
    right: 0;
    max-width: 50vw;
    max-height: 70vh;
    background: inherit;
    border: 2px solid var(--layer-3-border);
    overflow: auto;
    /*box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);*/
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 1s ease-out;

}

.header {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    cursor: pointer;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
    padding: 20px;

    /*&:: -webkit-scrollbar {*/
    /*    width: 6px;*/
    /*}*/

    /*&::-webkit-scrollbar-thumb {*/
    /*    background: #ccc;*/
    /*    border-radius: 3px;*/
    /*}*/
}

.footer {
    flex-shrink: 0;
    border-top: 1px solid #eee;
    background: #f9f9f9;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}