.ClearStoreButton{
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    fontSize: 1.2rem;
    //fontFamily: inherit;
    width: 100%;
    textAlign: left;
    border: 1px solid red;
}